mixin tag({image="no-image", label="Tag", text="Sample text"} = {})
  .tag
    .tag__image
      img.tag__logo(src=require('../../img/tags/' + image + '.svg'))
    .tag__content
      .tag__label #{label}
      .tag__text #{text}