@import "../../utils/vars.scss";

.pagination {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__buttons {
    display: flex;
  }

  &__button {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    font: 12px $mainFont;
    color: rgba($darkColor, .5);
    text-align: center;
    line-height: 40px;
    user-select: none;

    &_number {
      &_selected {
        color: white;
        font-weight: bold;
        background: $purpleGrad;
      }
    }

    &_prev,
    &_next {
      position: relative;
      overflow: hidden;
      background: $greenGrad;
      cursor: pointer;
    }

    &_prev:after,
    &_next:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: url(/img/icons/arrow-forward.svg) center no-repeat;
    }

    &_prev:after {
      transform: rotateZ(180deg);
    }

    &_prev {
      display: none;
    }

    &_skip {
      &_prev {
        display: none;
      }
    }
  }

  &__note {
    margin-top: 10px;
    font: 14px $mainFont;
    color: rgba($darkColor, .75);;
  }
}