mixin radio({options= []} = {})
  .radio
    each val in options
      label.radio__option
        input.radio__input(type='radio' name='gender')&attributes(val.settings)
        .radio__checkmark
          .radio__arrow
        span.readio__text #{val.text}