@import "utils/mixins.scss";
@import "utils/fonts.scss";
@import "utils/vars.scss";
@import "utils/libs.scss";

body {
    margin: 0;
}

header, footer {
    box-shadow: 0 10px 20px rgba($darkColor, .05);
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

a:focus,
button:focus,
input:focus {
    outline: none;
}

.content-bar {
    background: #fff;
    width: 100%;
}

.bar {
    position: relative;
    height: 70px;
    box-shadow: 0 10px 20px rgba($darkColor, .05);
    z-index: 2;
}

.wrap-container {
    display: flex;
    justify-content: center;
}

.content.wrap-container {
    min-height: calc(100vh - 442px);
}

.wrap {
    display: flex;
    max-width: 1160px;
    width: 95%;
    height: 100%;
}

.wrap-align {
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
}

.brand {
    position: relative;
    margin-left: 12.5px;
}


 
.header-content {
    display: flex;
    align-items: center;
    font-family: $mainFont;
    letter-spacing: .1px;
}

.header-links {
    position: relative;
    font-size: 14px;
    color: rgba($darkColor, .5);
}

.header-links.services {
    width: 74px;
}

.header-links.deals {
    width: 117px;
}

.header-links.convertible .kit-arrow {
    height: 100%;
    width: 21px;
}

.header-content .header-links + .header-links {
    margin-left: 20px;
}

.header-signin-button,
.header-signup-button {
    position: relative;
    padding: 0 19px;
    margin-left: 20px;
    border-radius: 22px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.header-signin-button {
    height: 41px;
    background: url(/assets/img/icons/gradient_border.svg) center no-repeat;
    background-size: 95%;
    line-height: 41px;
    color: $purpleColor;
}

.header-signup-button {
    height: 34px;
    background: linear-gradient($purpleColor, #8BA4F9);
    line-height: 34px;
}

.header-signup-button {
    color: #fff;
}



footer {
    height: 442px;
}

.footer-nav {
    position: relative;
    padding: 103px 0;
    box-shadow: 0px 1px 0px rgba($darkColor, .1);
    z-index: 3;
}
.footer-nav-wrap {
    justify-content: space-between;
}

.footer-slogan {
    margin-top: 14px;
    width: 260px;
    font: 14px $mainFont;
    line-height: 24px;
    color: rgba($darkColor, .75);
}

.footer-info {
    padding: 2px;
}

.footer-column-name {
    font: bold 12px $mainFont;
    text-transform: uppercase;
    color: $darkColor;
}

.footer-info div + div {
    font-family: $mainFont;
    margin-top: 20px;
    font-size: 14px;
    color: rgba($darkColor, .5);
}

.footer-mail-line {
    line-height: 24px;
}

.footer-email {
    position: relative;
    margin-top: 20px;
}

.email-input {
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    width: 245px;
    height: 43px;
    font: 14px $mainFont;
    border-radius: 4px;
    border: 1px solid rgba($darkColor, 0.25);
}

.email-submit {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    width: 44px;
    padding: 0;
    border: none;
    background: url(/assets/img/icons/arrow_forward_purple.svg) center no-repeat;
}

.footer-copyright-text {
    font: 14px $mainFont;
}

.footer-social {
    height: 22px;
    width: 24px;
}

.footer-social + .footer-social {
    margin-left: 16px;
}

.content {
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.header-menu-icon {
    display: none;
    width: 44px;
    height: 44px;
    background: url(/assets/img/icons/menu.svg) center no-repeat;
}

@media screen and (max-width: 979px) {
    .wrap {
        width: 100%;
    }

    .wrap-align {
        width: 95%;
    }

    .header-menu-icon {
        display: block;
    }

    .header-content {
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 69px;
        left: 0;
        padding: 20px 0;
        width: 100%;
        border-top: 1px solid rgba($darkColor, 0.05);
        background: #fff;
        visibility: hidden;
    }

    .header-content .header-links + .header-links,
    .header-signin-button,
    .header-signup-button {
        margin-top: 20px;
        margin-left: 0px;
    }

    header.shift {
        z-index: 1;
    }

    header.shift .header-content {
        visibility: visible;
    }

    .content {
        top: 0;
        transition: .2s;
    }

    .content.shift {
        top: 325px;
    }

    .content-cover {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        z-index: 20;
        transition: .2s;
    }

    .content.shift .content-cover {
        visibility: visible;
        background: rgba($darkColor, .6);
    }

    .footer-copyright,
    .footer-nav-wrap {
        flex-direction: column;
    }

    .footer-copyright {
        background: #fff;
        padding: 20px 0;
    }

    .footer-copyright-text {
        text-align: center;
    }

    .footer-nav-wrap > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-slogan {
        text-align: center;
    }

    .footer-info div + div {
        margin-top: 12px;
    }

    .footer-nav-wrap > div + .footer-info {
        margin-top: 22px;
    }

    .footer-nav {
        padding: 80px 0;
    }

    .footer-mail-line {
        text-align: center;
    }

    .kit-form-submit {
        width: 100%;
    }

    [data-size="short"] {
        width: 42%;
    }

    [data-size="long"],
    .form-submit-input {
        width: 88%;
    }

    [data-space="left"] {
        margin-left: 4%;
    }
}