.content {
  &--form {
    height: 701px;
  }

  &.form {
    margin-bottom: 2px;

    &__title {
      letter-spacing: 1.2px;
    }

    &__inputs {
      margin-top: 19px;
    }
  }
}

.radio {
  display: flex;
}