.kit-one-main {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.kit-form-block {
    position: relative;
    width: 350px;
    padding-top: 40px;
    padding-bottom: 30px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .12);
    box-shadow: 0 0 25px rgba(0, 0, 0, .2);
    border-radius: 4px;
}

.kit-form {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.kit-form-title {
    position: relative;
    font: bold 24px Quicksand, sans-serif;
    letter-spacing: 1px;
}

.kit-form-field {
    position: relative;
}

[data-space="left"] {
    margin-left: 20px;
}

[data-space="up"] {
    margin-top: 20px;
}

[data-space="long-up"] {
    margin-top: 32px;
}

.kit-form-label {
    display: block;
    margin-bottom: 4px;
    margin-left: 1px;
    font: bold 12px Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1px;
    color: #1F2041;
}

.kit-form-input {
    position: relative;
    padding-left: 14px;
    padding-right: 44px;
    height: 42px;
    width: calc(100% - 58px);
    border: 1px solid rgba(31, 32, 65, .25);
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
    font-family: Montserrat;
    color: rgba(31, 32, 65, .75);
    cursor: pointer;
    text-overflow: ellipsis;
    -webkit-transition: box-shadow .2s;
    -moz-transition: box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
}

[data-size="short"] {
    width: 149px;
}

[data-size="medium"] {
    width: 265px;
}

[data-size="long"] {
    width: 317px;
}

.kit-form-submit {
    position: relative;
    width: 320px;
    height: 44px;
    background: linear-gradient(#BC9CFF, #8BA4F9);
    border: none;
    border-radius: 22px;
    font: bold 12px Montserrat;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2px;
    cursor: pointer;
}

.kit-arrow {
    position: absolute;
    z-index: 2;
    width: 44px;
    height: 46px;
    cursor: pointer;
}

.kit-arrow.expand {
    right: -2px;
    background: url(../img/icons/expand_more.svg) center no-repeat;
}

.kit-arrow.forward {
    right: 0;
    top: 0;
    background: url(../img/icons/arrow_forward.svg) center no-repeat;
}

.kit-arrow.prev,
.kit-arrow.next {
    background: url(../img/icons/slider_arrow.svg) center no-repeat;
    background-size: 14px;
}

.kit-arrow.prev {
    transform: rotateZ(90deg);
}

.kit-arrow.next {
    transform: rotateZ(-90deg);
}



.kit-checkbox.default .kit-checkbox-options {
    display: none;
}

.kit-checkbox-options {
    margin-top: 16px;
}

.kit-checkbox.convertible .kit-form-label {
    cursor: pointer;
}

.kit-checkbox.convertible .kit-checkbox-arrow {
    transform: rotateZ(180deg);
}

.kit-checkbox.default .kit-checkbox-arrow {
    transform: none;
}

.kit-checkbox-arrow {
    height: 14px;
    top: 0;
}

.kit-checkbox-options label {
    display: flex;
    position: relative;
    cursor: pointer;
}

.kit-checkbox-options label + label {
    margin-top: 10px;
}

.kit-checkbox input,
.kit-radio input,
.kit-switch input {
    position: absolute;
    opacity: 0;
}

.kit-checkbox-checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
    height: 18px;
    width: 18px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
}

.kit-checkbox-checkmark div {
    position: absolute;
    width: 6px;
    height: 8px;
    background: linear-gradient(#BC9CFF, #8BA4F9);
    transform: rotateZ(45deg);
    transition: .1s;
    opacity: 0;
}

.kit-checkbox-checkmark div:after {
    content: "";
    position: absolute;
    width: 83%;
    height: 87%;
    top: -1px;
    left: -1px;
    background: #fff;
}

.kit-checkbox input:checked + .kit-checkbox-checkmark div {
    opacity: 1;
}

.kit-checkbox-text {
    /*margin-left: 31px;*/
    margin-left: 10px;
}

.kit-checkbox-title {
    font: 14px Montserrat;
    color: rgba(31, 32, 65, .75);
}

.kit-bold {
    font-weight: bold;
}

.kit-checkbox-note {
    margin-top: 5px;
    font: 12px Montserrat;
    color: rgba(31, 32, 65, 0.5);
}

.kit-radio,
.kit-switch {
    margin-top: 10px;
    font: 14px Montserrat;
    color: rgba(31, 32, 65, .75);
}

.kit-radio label,
.kit-switch label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.kit-radio label {
    margin-right: 20px;
}

.kit-radio-checkmark {
    position: relative;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    border: 1px solid #BC9CFF;
    border-radius: 25px;
}

.kit-radio-checkmark div {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background: linear-gradient(#BC9CFF, #8BA4F9);
}

.kit-radio-checkmark div:after,
.kit-switch-checkmark div:after,
.kit-switch-dot div {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 25px;
    transition: .2s;
}
.kit-radio-checkmark div:after {
    background: #fff;
}

.kit-radio input:checked + .kit-radio-checkmark div:after {
    opacity: 0;
}

.kit-switch-checkmark {
    position: relative;
    margin-right: 10px;
    width: 38px;
    height: 18px;
    border-radius: 25px;
    border: 1px solid rgba(31, 32, 65, .25);
}

.kit-switch-dot {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    background: linear-gradient(#BC9CFF, #8BA4F9);
    border-radius: 25px;
    transition: .2s;
}

.kit-switch-dot div {
    background: #fff;
}

.kit-switch-checkmark .kit-switch-dot div:after {
    background: rgba(31, 32, 65, .25);
}

.kit-switch input:checked + .kit-switch-checkmark {
    border: 1px solid #BC9CFF;
}

.kit-switch input:checked + .kit-switch-checkmark .kit-switch-dot {
    left: 24px;
}

.kit-switch input:checked + .kit-switch-checkmark .kit-switch-dot div {
    opacity: 0;
}