mixin button(args)
  if args.fill
    a.button.button_back_fill
      span.button__text #{args.text}
  else
    a.button.button_back_hollow
      img.button__background(src="/img/icons/button-gradient-border.svg")
      span.button__text #{args.text}