@import "../../utils/vars.scss";

.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  font: bold 12px $mainFont;
  text-align: center;
  text-transform: uppercase;

  &__background {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .2s;

    &_empty {
      height: 105%;
      background: url("./img/gradient-border.svg") center no-repeat;
      background-size: 100% 100%;
    }

    &_fill {
      margin-right: 5px;
      height: 100%;

      &:before {
        border-radius: 22px;
        background: $purpleGrad;
      }
    }

    &:hover {
      opacity: .5;
    }
  }

  &__text {
    position: relative;
    z-index: 1;

    &_purple {
      color: $purpleColor;
    }

    &_white {
      color: #FFF;
    }
  }
}