mixin form(args)
  case args.name
    when "index"
      include ./__date/form__date.pug
      include ./__dropdown/form__dropdown.pug
      include ./__submit/form__submit.pug
      .form.form_solo&attributes({class: args.class})
        .form__title
          span.form__title-line(data-index='0') Найдём номера под
          br
          span.form__title-line(data-index='1') ваши пожелания
        form.form__inputs(method='GET' action='/filter/' data-space='up')
          +form__date({
            text: "Прибытие",
            settings: {
              "data-index": "0",
              "data-size": "short"
            },
            input: {
              class: "comein",
              name: "comein",
              placeholder: "ДД.ММ.ГГГГ"
            }
          })
          +form__date({
            text: "Выезд",
            settings: {
              "data-index": "1",
              "data-size": "short",
              "data-space": "left"
            },
            input: {
              class: "comeout",
              name: "comeout",
              placeholder: "ДД.ММ.ГГГГ"
            }
          })
          +form__dropdown({
            text: "Гости",
            settings: {
              "data-index": "2",
              "data-size": "long",
              "data-space": "up"
            }
          })
          +form__submit({
            text: "Подобрать номер",
            settings: {
                "data-size": "long",
                "data-space": "long-up"
            },
            input: {
                placeholder: "ДД.ММ.ГГГГ"
            }
          })
      - break
    when "filter"
      include ./__date/form__date.pug
      include ./__dropdown/form__dropdown.pug
      include ./__range/form__range.pug
      include ./__checkbox/form__checkbox.pug
      .form&attributes({class: args.class})
        form.form__inputs(method='GET' action='fake-script')
          +form__date({
            text: "Даты пребывания в отеле",
            settings: {
              "data-index": "0",
              "data-size": "medium"
            },
            input: {
              class: "comeinout",
              name: "comeinout"
            }
          })
          +form__dropdown({
            text: "Даты пребывания в отеле",
            settings: {
              "data-index": "1",
              "data-space": "up",
              "data-size": "medium"
            }
          })
          +form__range({
            text: "Диапазон цены",
            from: "5 000",
            to: "10 000",
            note: "Стоимость за сутки пребывания в номере",
            settings: {
              "data-space": "long-up"
            },
            input: {
              name: "price-range"
            }
          })
          +form__checkbox({
            text: "Checkbox buttons",
            settings: {
              "data-index": "2",
              "data-space": "long-up"
            },
            input: [{
              name: "smoke",
              value: 0,
              title: "Можно курить"
            }, {
              name: "pets",
              value: 1,
              title: "Можно с питомцами"
            }, {
              name: "guests",
              value: 2,
              title: "Можно пригласить гостей<br>(до 10 человек)"
            }]
          })
          +form__checkbox({
            text: "Доступность",
            settings: {
              "data-index": "4",
              "data-space": "long-up"
            },
            input: [{
              name: "wide",
              value: 3,
              title: "Широкий коридор",
              note: "Ширина коридоров в номере<br>не менее 91 см."
            }, {
              name: "helper",
              value: 4,
              title: "Помощник для инвалидов",
              note: "На 1 этаже вас встретит специалист<br>и проводит до номера."
            }]
          })
          +form__dropdown({
            text: "Удобства номера",
            settings: {
              "data-index": "5",
              "data-space": "long-up",
              "data-size": "medium"
            }
          })
          +form__checkbox({
            expandable: true,
            text: "Дополнительные удобства",
            settings: {
              "data-space": "long-up",
              "data-size": "medium"
            },
            input: [{
              name: "breakfast",
              value: 5,
              title: "Завтрак"
            }, {
              name: "desk",
              value: 6,
              title: "Письменный стол"
            }, {
              name: "feeding",
              value: 7,
              title: "Стул для кормления"
            }, {
              name: "cradle",
              value: 8,
              title: "Кроватка"
            }, {
              name: "tv",
              value: 9,
              title: "Телевизор"
            }, {
              name: "shampoo",
              value: 10,
              title: "Шампунь"
            }, {
              name: "tv",
              value: 11,
              title: "Телевизор"
            }, {
              name: "shampoo",
              value: 12,
              title: "Шампунь"
            }]
          })
      - break
    when "room"
      include ./__date/form__date.pug
      include ./__dropdown/form__dropdown.pug
      include ./__submit/form__submit.pug
      .form.form_solo&attributes({class: args.class})
        .booking__head
          .booking__title
            span.booking__n &numero;
            span.booking__number 888
            span.booking__special Люкс
          .content__price
            span 9 990&#x20bd;
            | в сутки
        form.form__inputs(method='GET' action='filter/')
          +form__date({
            text: "Прибытие",
            settings: {
              "data-index": "0",
              "data-size": "short"
            },
            input: {
              class: "comein",
              name: "comein",
              placeholder: "ДД.ММ.ГГГГ"
            }
          })
          +form__date({
            text: "Выезд",
            settings: {
              "data-index": "1",
              "data-size": "short",
              "data-space": "left"
            },
            input: {
              class: "comeout",
              name: "comeout",
              placeholder: "ДД.ММ.ГГГГ"
            }
          })
          +form__dropdown({
            text: "Гости",
            settings: {
              "data-index": "2",
              "data-size": "long",
              "data-space": "up"
            }
          })
          .form__field(data-index='3' data-space='up')
            .booking__field.booking__field_option
              .booking__nametag 9 990&#x20bd; х 4 суток
              div 39 960&#x20bd;
            .booking__field.booking__field_option
              .booking__nametag.booking__nametag_hint Сбор за услуги: скидка 2 179&#x20bd;
              div 0&#x20bd;
            .booking__field.booking__field_option
              .booking__nametag.booking__nametag_hint Сбор за дополнительные услуги
              div 300&#x20bd;
            .booking__field.booking__field_total
              .booking__nametag Итого
              .booking__price 38 081&#x20bd;
          +form__submit({
            text: "Забронировать",
            settings: {
              "data-size": "long",
              "data-space": "up"
            },
            input: {
                placeholder: "ДД.ММ.ГГГГ"
            }
          })
      - break
    when "signin"
      include ./__submit/form__submit.pug
      include ../button/button.pug
      .form.form_solo&attributes({class: args.class})
        .form__title Войти
        form.form__inputs(method='POST' action='/fake-script/' data-space='up')
          .form__field(data-index='0' data-size='long')
            input.form__input(placeholder='Email' type='text' name='email')
            input.form__input(placeholder='Пароль' type='password' name='password' data-space="tiny-up")
          +form__submit({
            settings: {
              "data-size": "long",
              "data-space": "up"
            },
            text: "Войти"
          })
          .form__field.content__question(data-size="long")
            .content__text Нет аккаунта на Toxin?
            +button({
              settings: {
                href: "/signup/"
              },
              text: "Создать"
            })
      - break
    when "signup"
      include ./__date/form__date.pug
      include ./__submit/form__submit.pug
      include ../switch/switch.pug
      include ../button/button.pug
      include ../radio/radio.pug
      .form.form_solo&attributes({class: args.class})
        .form__title Войти
        form.form__inputs(method='POST' action='/fake-script/' data-space='up')
          .form__field(data-index='0' data-size='long')
            input.form__input(placeholder='Имя' type='text' name='firstname')
            input.form__input(placeholder='Фамилия' type='text' name='lastname' data-space="tiny-up")
          +radio({
            input: [{
              settings: {
                value: "male",
                checked: ""
              },
              text: "Мужчина"
            }, {
              settings: {
                value: "female"
              },
              text: "Женщина"
            }]
          })
          +form__date({
            settings: {
              "data-index": 2,
              "data-space": "up",
              "data-size": "long"
            },
            noArrow: true,
            input: {
              name: "birthdate",
              placeholder: "ДД.ММ.ГГГГ"
            },
            text: "Дата рождения"
          })
          .form__field(data-space='up' data-size='long')
            .form__label Данные для входа в сервис
            input.form__input(placeholder='Email' type='text' name='email')
            input.form__input(placeholder='Пароль' type='password' name='password' data-space="tiny-up")
          +switch({
            settings: {
              "data-size": "long"
            },
            input: [{
              name: "offer",
              text: "Получать спецпредложения"
            }]
          })
          +form__submit({
            settings: {
              "data-size": "long",
              "data-space": "up"
            },
            text: "Перейти к оплате"
          })
          .form__field.content__question
            .content__text Уже есть аккаунт на Toxin
            +button({
              settings: {
                href: "/signin/"
              },
              text: "Войти"
            })
      - break