@import "../../utils/vars.scss";

.form {
  &__head-price {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgba($darkColor, .5);

    &-value {
      margin-right: 4px;
      font-weight: bold;
      font-size: 14px;
    }
  }

  &_solo {
    position: relative;
    min-width: 350px;
    width: 350px;
    padding-top: 40px;
    padding-bottom: 28px;
    padding-left: 31px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .12);
    box-shadow: 0 0 25px rgba(0, 0, 0, .2);
    border-radius: 4px;
  }

  &__inputs {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &_indent_up {
      margin-top: 20px;
    }
  }

  &__title {
    position: relative;
    font: bold 24px $addFont;
    letter-spacing: 1px;

    &-line[data-index="0"] {
      letter-spacing: 1.2px;
    }

    &-line[data-index="1"] {
      letter-spacing: 1.5px;
    }
  }

  &__input {
    outline: none;
    position: relative;
    padding-left: 14px;
    padding-right: 44px;
    height: 42px;
    width: calc(100% - 58px);
    border: 1px solid rgba($darkColor, .25);
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
    font-family: $mainFont;
    color: rgba($darkColor, .75);
    cursor: pointer;
    text-overflow: ellipsis;

    &_indent {
      &_tinyup {
        margin-top: 8px;
      }
    }

    &_text {
      transition: .2s;

      &:hover,
      &:focus {
        border: 1px solid rgba($darkColor, .5);
      }
    }

    &_has_error {
      box-shadow: 0 0 6px #FA7464;
    }
  }

  &__field {
    position: relative;

    &_indent {
      &_left {
        margin-left: 20px;

        @media screen and (max-width: 979px) {
          margin-left: 4%;
        }
      }

      &_up {
        margin-top: 22px;
      }

      &_longup {
        margin-top: 32px;
      }

      &_tinyup {
        margin-top: 10px;
      }
    }

    &_type {
      &_question {
        width: 91%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 31px;
      }
    }

    &_short {
      width: 149px;

      @media screen and (max-width: 979px) {
        width: 42%;
      }
    }

    &_long {
      width: 317px;

      @media screen and (max-width: 979px) {
        width: 88%;
      }
    }

    &_medium {
      width: 265px;
    }
  }
}