footer
	nav.footer-nav.content-bar.wrap-container
		.footer-nav-wrap.wrap
			.footer-brand
				.logo
					img.icon(src='/assets/img/icons/logo_icon.svg')
					img.brand(src='/assets/img/icons/logo_brand.svg')
				.footer-slogan
					| Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
			.footer-info
				.footer-column-name Навигация
				div О нас
				div Новости
				div Служба поддержки
				div Услуги
			.footer-info
				.footer-column-name О нас
				div О сервисе
				div Наша команда
				div Вакансии
				div Инвесторы
			.footer-info
				.footer-column-name Служба поддержки
				div Соглашения
				div Сообщества
				div Связь с нами
			.footer-info
				.footer-column-name Подписка
				.footer-mail-line
					| Получайте специальные
					br
					| предложения и новости сервиса
				form.footer-email(method='GET' action='fake-script/change-me')
					input.email-input(type='text' name='email' placeholder='Email')
					input.email-submit(type='submit' name='email-submit' value='')
	.bar.content-bar.wrap-container
		.wrap-align.wrap.footer-copyright
			.footer-copyright-text Copyright © 2018 Toxin отель. Все права зачищены.
			div
				img.footer-social(src='/assets/img/icons/twitter_icon.svg')
				img.footer-social(src='/assets/img/icons/facebook_icon.svg')
				img.footer-social(src='/assets/img/icons/instagram_icon.svg')