include ../components/subscription/subscription.pug

footer.footer
  nav.footer__nav.page__bar.page__wrap
    .footer__inner.page__wrap-inner
      div
        .page__logo
          img.page__icon(src='/assets/img/icons/logo_icon.svg')
          img.page__brand(src='/assets/img/icons/logo_brand.svg')
        .footer__slogan
          | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .footer__info
        .footer__title Навигация
        a(href="fake-link").footer__link О нас
        a(href="fake-link").footer__link Новости
        a(href="fake-link").footer__link Служба поддержки
        a(href="fake-link").footer__link Услуги
      .footer__info
        .footer__title О нас
        a(href="fake-link").footer__link О сервисе
        a(href="fake-link").footer__link Наша команда
        a(href="fake-link").footer__link Вакансии
        a(href="fake-link").footer__link Инвесторы
      .footer__info
        .footer__title Служба поддержки
        a(href="fake-link").footer__link Соглашения
        a(href="fake-link").footer__link Сообщества
        a(href="fake-link").footer__link Связь с нами
      .footer__info
        .footer__title Подписка
        .footer__line.footer__link
          | Получайте специальные
          br
          | предложения и новости сервиса
        +subscription({
          action: "fake-script/change-me",
          settings: {
            name: "email",
            placeholder: "Email",
            "data-size": "medium"
          }
        })
  .page__bar.page__bar_shadow.page__wrap
    .page__wrap-inner.page__wrap-inner_align
      .footer__copyright Copyright © 2018 Toxin отель. Все права зачищены.
      div
        img.footer__social(src='/assets/img/icons/twitter_icon.svg')
        img.footer__social(src='/assets/img/icons/facebook_icon.svg')
        img.footer__social(src='/assets/img/icons/instagram_icon.svg')