mixin header(main, signin, signup)
  header.bar.content-bar.wrap-container
    .wrap-align.wrap
      if main
        a(href="/")
          .logo
            img.icon(src="/assets/img/icons/logo_icon.svg")
            img.brand(src="/assets/img/icons/logo_brand.svg")
      else
        .logo
          img.icon(src="/assets/img/icons/logo_icon.svg")
          img.brand(src="/assets/img/icons/logo_brand.svg")
      .header-menu
      nav.header-content
        a.header-content-links(href="/fake-link/change-me") О нас
        a.header-content-links.services.convertible(href="/fake-link/change-me")
          .expand.kit-arrow
          div Услуги
        a.header-content-links(href="/fake-link/change-me") Вакансии
        a.header-content-links(href="/fake-link/change-me") Новости
        a.header-content-links.deals.convertible(href="/fake-link/change-me")
          .expand.kit-arrow
          div Соглашения
        if signin
          a(href="/signin/")
            .header-content-signin Войти
        else
          .header-content-signin Войти
        if signup
          a(href="/signup/")
            .header-content-signup Зарегистрироваться
        else
          .header-content-signup Зарегистрироваться