include ../../components/page/page.pug
include ../../components/dropdown/dropdown.pug
include ../../components/pagination/pagination.pug
include ../../components/room-card/room-card.pug

+page({name: "filter", title: "Номера, которые мы для вас подобрали - Toxin"})