@import "../../utils/fonts.scss";
@import "../../utils/vars.scss";

.content {
  padding: 31px 0 76px;
  border-bottom: 1px solid rgba($darkColor, .25);

  &__pagination {
    margin-top: 20px;
  }

  &__items {
    margin-left: 60px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 979px) {
      margin-left: 0;
      margin-top: 60px;
    }
  }

  &__title {
    font: bold 24px $mainFont;
    letter-spacing: -.5px;

    @media screen and (max-width: 979px) {
      text-align: center;
    }
  }

  &__rooms {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 1219px) and (min-width: 980px) {
      justify-content: space-around;
    }

    @media screen and (max-width: 979px) {
      align-items: center;
      justify-content: center;
    }
  }

  &__room {
    margin-top: 20px;

    @media screen and (max-width: 1219px) and (min-width: 569px) {
      margin-right: 12px;
    }
  }

  @media screen and (max-width: 979px) {
    &__inner {
      flex-direction: column;
    }

    &__settings {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.form {
  width: min-content;

  &__field[data-index="4"] {
    margin-top: 35px;
  }

  &__input::placeholder {
    color: rgba($darkColor, .75);
  }
}