mixin subscription(args)
  form.subscription(method='GET')&attributes(args.settings)
    input.form__input.form__input_text(type='text')&attributes(args.input)
    input.subscription__arrow(type='submit' value='')