@import "../../utils/vars.scss";

.subscription {
  outline: none;
  position: relative;

  &__input {
    outline: none;
    position: relative;
    padding-left: 14px;
    padding-right: 44px;
    height: 39px;
    width: calc(100% - 58px);
    border: 1px solid rgba($darkColor, .25);
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
    font-family: $mainFont;
    color: rgba($darkColor, .75);
    cursor: pointer;
    text-overflow: ellipsis;
    transition: .2s;

    &:hover,
    &:focus {
      border: 1px solid rgba($darkColor, .5);
    }
  }

  &__arrow {
    border: none;
    position: absolute;
    z-index: 2;
    width: 37px;
    height: 42px;
    cursor: pointer;
    right: 0;
    top: 0;
    background: url(/img/icons/arrow-submit.svg) center no-repeat;
  }
}