include ../arrow/arrow.pug

mixin subscription({action="fake-script/change-me", input={}} = {})
  form.subscription(method='GET')&attributes(settings)
    input.subscription__input(type='text')&attributes(input)
    .subscription__arrow
      input.subscription__submit(type='submit' value='')
      +arrow({type: "submit"})