mixin subscription(args)
  form.subscription(method='GET')&attributes(args.settings)
    input.form__input.form__input_text(type='text')&attributes(args.input)
    input.page__arrow.page__arrow_submit(type='submit' value='')