mixin switch({options=[]} = {})
  .switch
    each val in options
      label.switch__option
        input.switch__input(type='checkbox')&attributes({name: val.name})
        .switch__checkmark
          .switch__dot
            .switch__dot-cover
        span.switch__text #{val.text}