mixin form__range(args)
  .form__field.range.form__range&attributes(args.settings)
    .range__top
      .form__label #{args.text}
      .range__legend
        span.range__from #{args.from}
        | &#x20bd;  - 
        span.range__to #{args.to}
        | &#x20bd;
    input.range__input(type='text')&attributes(args.input)
    if args.note
      .form__note #{args.note}