@import "../../utils/fonts.scss";
@import "../../utils/vars.scss";

.content {
  background-image: url(./img/index.jpg);
  background-position: 50% 97%;
  background-size: 113% 109%;
  height: 830px;

  @media screen and (max-width: 979px) {
    height: calc(100vh - 70px);
  }

  &__form {
    margin-top: 70px;
  }

  &__slogan {
    position: absolute;
    right: 52px;
    bottom: 21px;
    width: 297px;
    height: 48px;
    font: 14px $mainFont;
    color: rgba(31, 32, 65, .75);
    line-height: 24px;
    text-align: right;

    @media screen and (max-width: 979px) {
      justify-self: flex-end;
    }
  }

  &__inner {
    @media screen and (max-width: 1300px) {
      background-position: top;
      background-size: auto calc(100% + 100px);
    }

    @media screen and (max-width: 979px) {
      display: flex;
      justify-content: center;
    }
  }
}

.form {
  @media screen and (max-width: 450px) {
    width: 100%;
  }

  @media screen and (max-width: 979px) {
    padding-left: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input::placeholder {
    color: rgba($darkColor, .75);
  }

  &__submit {
    &_input {
      margin-top: 32px;
    }
  }

  @media screen and (max-width: 979px) {
    &__title {
      text-align: center;
    }

    &__inputs {
      justify-content: center;
    }
  }
}