@import "../../utils/fonts.scss";
@import "../../utils/vars.scss";

.content {
  border-bottom: 1px solid rgba($darkColor, .25);
  flex-direction: column;
  align-items: center;

  &__form {
    margin-left: 68px;

    @media screen and (max-width: 979px) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
    }
  }

  &__image {
    &_left {
      width: 68%;

      @media screen and (max-width: 979px) {
        width: 100%;
        height: 65%;
      }
    }

    &_right {
      display: flex;
      flex-direction: column;
      width: 32%;
      height: 100%;

      @media screen and (max-width: 979px) {
        width: 100%;
        height: 36%;
        flex-direction: row;
      }

      &_quater {
        height: 50%;
        width: 100%;

        @media screen and (max-width: 979px) {
          height: 100%;
        }
      }
    }

    &-inner {
      width: 101%;
      height: 101%;
      object-fit: cover;

      @media screen and (max-width: 979px) {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 485px;
    overflow: hidden;

    @media screen and (max-width: 979px) {
      height: 50vh;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 61.3%;
    margin-bottom: 72px;

    @media screen and (max-width: 979px) {
      max-width: 95%;
      justify-content: space-around;
    }
  }

  &__inner {
    padding-top: 70px;
    justify-content: space-between;

    @media screen and (max-width: 979px) {
      padding-top: 30px;
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 20px;
    font: bold 19px $mainFont;
    letter-spacing: -.3px;

    @media screen and (max-width: 979px) {
      text-align: center;
    }
  }

  &__total {
    margin-right: 36px;

    @media screen and (max-width: 1140px) and (min-width: 979px) {
      margin-top: 20px;
    }

    @media screen and (max-width: 979px) {
      margin-right: 0;
    }

    @media screen and (max-width: 979px) and (min-width: 678px) {
      margin-left: 8px;
    }

    @media screen and (max-width: 678px) {
      margin-top: 20px;
    }
  }

  &__reviews {
    width: 100%;
    margin-top: 33px;
    margin-bottom: 31px;

    @media screen and (max-width: 979px) {
      margin-bottom: 0;
    }

    &-number {
      display: inline-block;
      margin-top: 6px;
      float: right;
      font: 14px $mainFont;
      color: rgba($darkColor, .5);
    }
  }

  &__rules {
    width: 240px;
  }

  &__repeal {
    margin-right: 8px;
    width: 340px;

    @media screen and (max-width: 979px) and (min-width: 642px) {
      margin-left: 20px;
    }

    @media screen and (max-width: 979px) {
      margin-right: 0;
    }
  }

  &__text {
    width: 100%;
    font: 14px $mainFont;
    color: rgba($darkColor, .75);
    line-height: 24px;
  }
}

.form {
  @media screen and (max-width: 979px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;
  }

  &__inputs {
    margin-top: 14px;

    @media screen and (max-width: 979px) {
      justify-content: space-evenly;
    }
  }

  &__field {
    &-option {
      & + & {
        margin-top: 15px;
      }
    }

  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    font-family: $mainFont;
    padding-right: 29px;

    @media screen and (max-width: 979px) {
      width: 88%;
      padding-right: 0;
    }
  }

  &__title {
    display: flex;
    align-items: flex-end;
    height: 16px;
    color: $darkColor;
  }

  &__number,
  &__special {
    margin-left: 4px;
  }

  &__n {
    font-weight: bold;
    font-size: 13px;
  }

  &__number {
    font-size: 22px;
  }

  &__special {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #BC9CFF;
  }

  &__total-price {
    letter-spacing: -1.1px;
  }

  &__field {
    &-option {
      display: flex;
      justify-content: space-between;
      font: 14px $mainFont;
      color: rgba($darkColor, .75);

      & + & {
        margin-top: 17px;
      }
    }

    &-total {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-top: 30px;
      margin-left: 2px;
      font: bold 19px $mainFont;
      color: $darkColor;

      &:after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 66px;
        width: calc(100% - 150px);
        height: 1px;
        background: rgba($darkColor, .25);
      }
    }
  }

  &__nametag {
    position: relative;
    max-width: 214px;

    @media screen and (max-width: 979px) {
      width: auto;
    }

    &_has_hint{
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: -1px;
        right: -25px;
        width: 18px;
        height: 18px;
        border: 1px solid rgba($darkColor, .25);
        border-radius: 25px;
        background: url(/assets/img/icons/hint.svg) center no-repeat;

        @media screen and (max-width: 979px) {
          right: -31px;
        }
      }
    }
  }
}