include ../../components/page/page.pug
include ../../components/tag/tag.pug
include ../../components/review/review.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/statistic/statistic.pug

+page({name: "room", title: "Номер 888 - Toxin"})