include ../includes/ui.kit.pug

doctype html
head
	title Номера, которые мы для вас подобрали - Toxin
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='icon', type='image/x-icon', href='/favicon.ico')
	link(rel='mask-icon', href='/assets/img/icons/logo_icon.svg', color='#BC9CFF')

include ../includes/header.pug
+header(true, true, true)

.content.wrap-container
	.content-cover
	.wrap
		form.content-settings
			.content-settings-wrap
				.kit-form-field.settings-date(data-index='0', data-size='medium')
					.kit-form-label Даты пребывания в отеле
					.expand.kit-arrow
					input.kit-form-input.search-comeinout(readonly='readonly', type='text', name='comeinout')
				.kit-form-field(data-index='1', data-space='up', data-size='medium')
					.kit-form-label Гости
				.kit-form-field(data-space='long-up')
					.settings-field-top
						.kit-form-label Диапазон цены
						.settings-price
							span.settings-price-from 5 000
							span.ruble &#x20bd;
							| -
							span.settings-price-to 10 000
							span.ruble &#x20bd;
					input.settings-price-range(type='text', name='price-range')
					.settings-note Стоимость за сутки пребывания в номере
				.kit-form-field.kit-checkbox(data-index='2', data-space='long-up')
					.kit-form-label Checkbox buttons
					.kit-checkbox-options
						label
							input(type='checkbox', name='smoke', value='0')
							.kit-checkbox-checkmark
								div
							span.kit-checkbox-text
								.kit-checkbox-title Можно курить
						label
							input(type='checkbox', name='pets', value='1')
							.kit-checkbox-checkmark
								div
							span.kit-checkbox-text
								.kit-checkbox-title Можно с питомцами
						label
							input(type='checkbox', name='guests', value='2')
							.kit-checkbox-checkmark
								div
							span.kit-checkbox-text
								.kit-checkbox-title
									| Можно пригласить гостей
									br
									| (до 10 человек)
				.kit-form-field.kit-checkbox(data-index='4')
					.kit-form-label Доступность
					.kit-checkbox-options
						label
							input(type='checkbox', name='wide', value='3')
							.kit-checkbox-checkmark
								div
							span.kit-checkbox-text
								.kit-checkbox-title.kit-bold Широкий коридор
								.kit-checkbox-note
									| Ширина коридоров в номере
									br
									| не менее 91 см.
						label
							input(type='checkbox', name='helper', value='4')
							.kit-checkbox-checkmark
								div
							span.kit-checkbox-text
								.kit-checkbox-title.kit-bold Помощник для инвалидов
								.kit-checkbox-note
									| На 1 этаже вас встретит специалист
									br
									| и проводит до номера.
				.kit-form-field(data-index='5', data-space='long-up', data-size='medium')
					.kit-form-label Удобства номера
				.kit-form-field.kit-checkbox.convertible.default(data-space='long-up')
					.kit-form-label Дополнительные удобства
					.kit-arrow.expand.kit-checkbox-arrow
					.kit-checkbox-options
						label
							input(type='checkbox', name='breakfast', value='5')
							span.kit-input-box
								.kit-checkbox-checkmark
							.kit-checkbox-text
								.kit-checkbox-title Завтрак
						label
							input(type='checkbox', name='desk', value='6')
							span.kit-input-box
								.kit-checkbox-checkmark
							.kit-checkbox-text
								.kit-checkbox-title Письменный стол
						label
							input(type='checkbox', name='feeding', value='7')
							span.kit-input-box
								.kit-checkbox-checkmark
							.kit-checkbox-text
								.kit-checkbox-title Стул для кормления
						label
							input(type='checkbox', name='cradle', value='8')
							span.kit-input-box
								.kit-checkbox-checkmark
							.kit-checkbox-text
								.kit-checkbox-title Кроватка
						label
							input(type='checkbox', name='tv', value='9')
							span.kit-input-box
								.kit-checkbox-checkmark
							.kit-checkbox-text
								.kit-checkbox-title Телевизор
						label
							input(type='checkbox', name='shampoo', value='10')
							span.kit-input-box
								.kit-checkbox-checkmark
							.kit-checkbox-text
								.kit-checkbox-title Шампунь
						label
							input(type='checkbox', name='tv', value='11')
							span.kit-input-box
								.kit-checkbox-checkmark
							.kit-checkbox-text
								.kit-checkbox-title Телевизор
						label
							input(type='checkbox', name='shampoo', value='12')
							span.kit-input-box
								.kit-checkbox-checkmark
							.kit-checkbox-text
								.kit-checkbox-title Шампунь
		.content-items
			.content-items-title Номера, которые мы для вас подобрали
			.content-rooms
				a(href='/room/?room=888')
					.content-room
						.content-room-gallery(data-index='0')
							.content-room-prev
								.kit-arrow.prev
							.content-room-images
								img(src='/assets/img/rooms/888-0.jpg')
								img(src='/assets/img/rooms/888-1.jpg')
								img(src='/assets/img/rooms/888-2.jpg')
							.content-room-next
								.kit-arrow.next
							.content-room-points
								div(data-selected='')
								div
								div
								div
						.content-room-main
							.content-room-title
								span.content-room-n &numero;
								span.content-room-number 888
								span.content-room-special Люкс
							.content-room-price
								span 9 990&#x20bd;
								| в сутки
						.content-room-feedback
							.content-room-stars
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
							.content-room-amount
								span 145
								| Отзывов
				a(href='/room/?room=840')
					.content-room
						.content-room-gallery(data-index='1')
							.content-room-prev
								.kit-arrow.prev
							.content-room-images
								img(src='/assets/img/rooms/840-0.jpg')
							.content-room-next
								.kit-arrow.next
							.content-room-points
								div(data-selected='')
								div
								div
								div
						.content-room-main
							.content-room-title
								span.content-room-n &numero;
								span.content-room-number 840
							.content-room-price
								span 9 990&#x20bd;
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&vcy; &scy;&ucy;&tcy;&kcy;&icy;
						.content-room-feedback
							.content-room-stars
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='false')
							.content-room-amount
								span 65
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Ocy;&tcy;&zcy;&ycy;&vcy;&ocy;&vcy;
				a(href='/room/?room=980')
					.content-room
						.content-room-gallery(data-index='2')
							.content-room-prev
								.kit-arrow.prev
							.content-room-images
								img(src='/assets/img/rooms/980-0.jpg')
							.content-room-next
								.kit-arrow.next
							.content-room-points
								div(data-selected='')
								div
								div
								div
						.content-room-main
							.content-room-title
								span.content-room-n &numero;
								span.content-room-number 980
								span.content-room-special &Lcy;&yucy;&kcy;&scy;
							.content-room-price
								span 8 500&Rcy;
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&vcy; &scy;&ucy;&tcy;&kcy;&icy;
						.content-room-feedback
							.content-room-stars
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='false')
								div(data-full='false')
							.content-room-amount
								span 35
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Ocy;&tcy;&zcy;&ycy;&vcy;&ocy;&vcy;
				a(href='/room/?room=856')
					.content-room
						.content-room-gallery(data-index='3')
							.content-room-prev
								.kit-arrow.prev
							.content-room-images
								img(src='/assets/img/rooms/856-0.jpg')
							.content-room-next
								.kit-arrow.next
							.content-room-points
								div(data-selected='')
								div
								div
								div
						.content-room-main
							.content-room-title
								span.content-room-n &numero;
								span.content-room-number 856
							.content-room-price
								span 7 300&Rcy;
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&vcy; &scy;&ucy;&tcy;&kcy;&icy;
						.content-room-feedback
							.content-room-stars
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
							.content-room-amount
								span 19
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Ocy;&tcy;&zcy;&ycy;&vcy;&ocy;&vcy;
				a(href='/room/?room=740')
					.content-room
						.content-room-gallery(data-index='4')
							.content-room-prev
								.kit-arrow.prev
							.content-room-images
								img(src='/assets/img/rooms/740-0.jpg')
							.content-room-next
								.kit-arrow.next
							.content-room-points
								div(data-selected='')
								div
								div
								div
						.content-room-main
							.content-room-title
								span.content-room-n &numero;
								span.content-room-number 740
							.content-room-price
								span 6 000&Rcy;
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&vcy; &scy;&ucy;&tcy;&kcy;&icy;
						.content-room-feedback
							.content-room-stars
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='false')
							.content-room-amount
								span 44
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Ocy;&tcy;&zcy;&ycy;&vcy;&ocy;&vcy;
				a(href='/room/?room=982')
					.content-room
						.content-room-gallery(data-index='5')
							.content-room-prev
								.kit-arrow.prev
							.content-room-images
								img(src='/assets/img/rooms/982-0.jpg')
							.content-room-next
								.kit-arrow.next
							.content-room-points
								div(data-selected='')
								div
								div
								div
						.content-room-main
							.content-room-title
								span.content-room-n &numero;
								span.content-room-number 982
							.content-room-price
								span 5 800&Rcy;
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&vcy; &scy;&ucy;&tcy;&kcy;&icy;
						.content-room-feedback
							.content-room-stars
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='false')
								div(data-full='false')
							.content-room-amount
								span 56
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Ocy;&tcy;&zcy;&ycy;&vcy;&ocy;&vcy;
				a(href='/room/?room=678')
					.content-room
						.content-room-gallery(data-index='6')
							.content-room-prev
								.kit-arrow.prev
							.content-room-images
								img(src='/assets/img/rooms/678-0.jpg')
							.content-room-next
								.kit-arrow.next
							.content-room-points
								div(data-selected='')
								div
								div
								div
						.content-room-main
							.content-room-title
								span.content-room-n &numero;
								span.content-room-number 678
							.content-room-price
								span 5 500&Rcy;
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&vcy; &scy;&ucy;&tcy;&kcy;&icy;
						.content-room-feedback
							.content-room-stars
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
							.content-room-amount
								span 45
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Ocy;&tcy;&zcy;&ycy;&vcy;&ocy;&vcy;
				a(href='/room/?room=450')
					.content-room
						.content-room-gallery(data-index='7')
							.content-room-prev
								.kit-arrow.prev
							.content-room-images
								img(src='/assets/img/rooms/450-0.jpg')
							.content-room-next
								.kit-arrow.next
							.content-room-points
								div(data-selected='')
								div
								div
								div
						.content-room-main
							.content-room-title
								span.content-room-n &numero;
								span.content-room-number 450
							.content-room-price
								span 5 300&Rcy;
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&vcy; &scy;&ucy;&tcy;&kcy;&icy;
						.content-room-feedback
							.content-room-stars
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='false')
							.content-room-amount
								span 39
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Ocy;&tcy;&zcy;&ycy;&vcy;&ocy;&vcy;
				a(href='/room/?room=350')
					.content-room
						.content-room-gallery(data-index='8')
							.content-room-prev
								.kit-arrow.prev
							.content-room-images
								img(src='/assets/img/rooms/350-0.jpg')
							.content-room-next
								.kit-arrow.next
							.content-room-points
								div(data-selected='')
								div
								div
								div
						.content-room-main
							.content-room-title
								span.content-room-n &numero;
								span.content-room-number 350
							.content-room-price
								span 5 000&Rcy;
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&vcy; &scy;&ucy;&tcy;&kcy;&icy;
						.content-room-feedback
							.content-room-stars
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='false')
								div(data-full='false')
							.content-room-amount
								span 77
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Ocy;&tcy;&zcy;&ycy;&vcy;&ocy;&vcy;
				a(href='/room/?room=666')
					.content-room
						.content-room-gallery(data-index='9')
							.content-room-prev
								.kit-arrow.prev
							.content-room-images
								img(src='/assets/img/rooms/666-0.jpg')
							.content-room-next
								.kit-arrow.next
							.content-room-points
								div(data-selected='')
								div
								div
								div
						.content-room-main
							.content-room-title
								span.content-room-n &numero;
								span.content-room-number 666
							.content-room-price
								span 5 000&Rcy;
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&vcy; &scy;&ucy;&tcy;&kcy;&icy;
						.content-room-feedback
							.content-room-stars
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
							.content-room-amount
								span 25
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Ocy;&tcy;&zcy;&ycy;&vcy;&ocy;&vcy;
				a(href='/room/?room=444')
					.content-room
						.content-room-gallery(data-index='10')
							.content-room-prev
								.kit-arrow.prev
							.content-room-images
								img(src='/assets/img/rooms/444-0.jpg')
							.content-room-next
								.kit-arrow.next
							.content-room-points
								div(data-selected='')
								div
								div
								div
						.content-room-main
							.content-room-title
								span.content-room-n &numero;
								span.content-room-number 444
							.content-room-price
								span 5 000&Rcy;
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&vcy; &scy;&ucy;&tcy;&kcy;&icy;
						.content-room-feedback
							.content-room-stars
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='false')
								div(data-full='false')
							.content-room-amount
								span 15
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Ocy;&tcy;&zcy;&ycy;&vcy;&ocy;&vcy;
				a(href='/room/?room=352')
					.content-room
						.content-room-gallery(data-index='11')
							.content-room-prev
								.kit-arrow.prev
							.content-room-images
								img(src='/assets/img/rooms/352-0.jpg')
							.content-room-next
								.kit-arrow.next
							.content-room-points
								div(data-selected='')
								div
								div
								div
						.content-room-main
							.content-room-title
								span.content-room-n &numero;
								span.content-room-number 352
							.content-room-price
								span 5 000&Rcy;
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&vcy; &scy;&ucy;&tcy;&kcy;&icy;
						.content-room-feedback
							.content-room-stars
								div(data-full='true')
								div(data-full='true')
								div(data-full='true')
								div(data-full='false')
								div(data-full='false')
							.content-room-amount
								span 55
								| &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Ocy;&tcy;&zcy;&ycy;&vcy;&ocy;&vcy;
			.content-pages
				.content-pages-buttons
					.content-page-button.content-page-prev
					.content-page-button.content-page-number(data-selected='') 1
					.content-page-button.content-page-skip.prev ...
					.content-page-button.content-page-number 2
					.content-page-button.content-page-number 3
					.content-page-button.content-page-number 4
					.content-page-button.content-page-skip.next ...
					.content-page-button.content-page-number 15
					.content-page-button.content-page-next
				.content-pages-note
					| 1 &ndash; 12 &icy;&zcy; 100+ &vcy;&acy;&rcy;&icy;&acy;&ncy;&tcy;&ocy;&vcy; &acy;&rcy;&iecy;&ncy;&dcy;&ycy;

include ../includes/footer.pug