include ../includes/header.pug
include ../components/form/form.pug
include ../components/pagination/pagination.pug
include ../components/room-card/room-card.pug

doctype html
head
  title Номера, которые мы для вас подобрали - Toxin
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='icon', type='image/x-icon', href='/HTMLPractice/dist/favicon.ico')
  link(rel='mask-icon', href='/HTMLPractice/dist/assets/img/icons/logo_icon.svg', color='#BC9CFF')

include ../includes/header.pug
+header(true, true, true)

.content.page__wrap
  .content__cover
  .page__wrap-inner
    .content__settings
      +form({name: "filter"})
    .content__items
      .content__title Номера, которые мы для вас подобрали
      .content__rooms
        +room-card({
          number: 888,
          settings: {
            "data-index": "0"
          },
          images: 3,
          special: true,
          price: "9 990",
          stars: 5,
          feedbacks: 145
        })
        +room-card({
          number: 840,
          settings: {
            "data-index": "1"
          },
          images: 1,
          special: false,
          price: "9 990",
          stars: 4,
          feedbacks: 65
        })
        +room-card({
          number: 980,
          settings: {
            "data-index": "2"
          },
          images: 1,
          special: true,
          price: "8 500",
          stars: 3,
          feedbacks: 35
        })
        +room-card({
          number: 856,
          settings: {
            "data-index": "3"
          },
          images: 1,
          special: false,
          price: "7 300",
          stars: 5,
          feedbacks: 19
        })
        +room-card({
          number: 740,
          settings: {
            "data-index": "4"
          },
          images: 1,
          special: false,
          price: "6 000",
          stars: 4,
          feedbacks: 44
        })
        +room-card({
          number: 982,
          settings: {
            "data-index": "5"
          },
          images: 1,
          special: false,
          price: "5 800",
          stars: 3,
          feedbacks: 56
        })
        +room-card({
          number: 678,
          settings: {
            "data-index": "6"
          },
          images: 1,
          special: false,
          price: "5 500",
          stars: 5,
          feedbacks: 45
        })
        +room-card({
          number: 450,
          settings: {
            "data-index": "7"
          },
          images: 1,
          special: false,
          price: "5 300",
          stars: 4,
          feedbacks: 39
        })
        +room-card({
          number: 350,
          settings: {
            "data-index": "8"
          },
          images: 1,
          special: false,
          price: "5 000",
          stars: 3,
          feedbacks: 77
        })
        +room-card({
          number: 666,
          settings: {
            "data-index": "9"
          },
          images: 1,
          special: false,
          price: "5 000",
          stars: 5,
          feedbacks: 25
        })
        +room-card({
          number: 444,
          settings: {
            "data-index": "10"
          },
          images: 1,
          special: false,
          price: "5 000",
          stars: 3,
          feedbacks: 15
        })
        +room-card({
          number: 352,
          settings: {
            "data-index": "11"
          },
          images: 1,
          special: false,
          price: "5 000",
          stars: 3,
          feedbacks: 55
        })
      +pagination

include ../includes/footer.pug