include ../includes/header.pug
include ../components/form/form.pug

doctype html
head
  title Найдите номер - Toxin
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/x-icon' href='/favicon.ico')
  link(rel='mask-icon' href='/assets/img/icons/logo_icon.svg' color='#BC9CFF')

+header(false, true, true)

.page__wrap.content.content_form.page__content
  .content__cover
  .page__wrap-inner
    +form({name: "index"})
    .content__slogan
      | Лучшие номера для вашей работы, отдыха и просто вдохновения

include ../includes/footer.pug