include ../components/form/form.pug
include ../components/tag/tag.pug
include ../components/review/review.pug
include ../components/bullet-list/bullet-list.pug

doctype html
head
  title Номер 888 - Toxin
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/x-icon' href='/favicon.ico')
  link(rel='mask-icon' href='/assets/img/icons/logo_icon.svg' color='#BC9CFF')

include ../includes/header.pug
+header(true, true, true)

.content.page__wrap
  .content__cover
  .content__images
    div(data-index='0')
      img(src='/assets/img/rooms/888-0.jpg')
    div(data-index='1')
      div(data-index='2')
        img(src='/assets/img/rooms/888-1.jpg')
      div(data-index='2')
        img(src='/assets/img/rooms/888-2.jpg')
  .page__wrap-inner
    .content__info
      div
        .content__label Сведения о номере
        +tag({
          image: "insert_emoticon",
          label: "Комфорт",
          text: "Шумопоглощающие стены"
        })
        +tag({
          image: "location_city",
          label: "Удобство",
          text: "Окно в каждой из спален"
        })
        +tag({
          image: "whatshot",
          label: "Уют",
          text: "Номер оснащён камином"
        })
      .total.content__total
        .content__label Впечатления от номера
        .total__statistic
          .total__chart
            .total__number
              div 260
              span голосов
          .total__legend
            div(data-index='0') Великолепно
            div(data-index='1') Хорошо
            div(data-index='2') Удовлетворительно
            div(data-index='3') Разочарован
      .reviews.content__reviews
        .content__label Отзывы посетителей номера
        .reviews__number 2 отзыва
        +review({
          profile: {
            avatar: "Murad_Sarafanov",
            name: "Мурад Сарафанов",
            online: "5 дней назад"
          },
          likes: {
            liked: "true",
            total: 12
          },
          text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
        })
        +review({
          profile: {
            avatar: "Patrisiya_Styoklyshkova",
            name: "Патрисия Стёклышкова",
            online: "Неделю назад"
          },
          likes: {
            liked: "false",
            total: 2
          },
          text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"
        })
      .rules.content__rules
        .content__label Правила
        +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])
      .repeal.content__repeal
        .content__label Отмена
        .content__text
          | Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
    +form({name: "room"})

include ../includes/footer.pug