include ../components/form/form.pug

doctype html
head
  title Найдите номер - Toxin
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/x-icon' href='/HTMLPractice/dist/favicon.ico')
  link(rel='mask-icon' href='/HTMLPractice/dist/assets/img/icons/logo_icon.svg' color='#BC9CFF')

include ../includes/header.pug
+header(true, true, false)

.page__wrap.content.content--form
  .content__cover
  .page__wrap-inner
    +form({name: "signup"})

include ../includes/footer.pug