// Font
$mainFont		: "Montserrat", Helvetica, Arial, sans-serif;
$addFont		: "Quicksand", Helvetica, Arial, sans-serif;

// Colors
$darkColor		: #1F2041;
$purpleColor	: #BC9CFF;
$greenColor		: #6FCf97;