@import "../../utils/vars.scss";

.content {
  background-image: url(/img/authorization.jpg);
  height: 683px;

  &__form {
    margin-bottom: 28px;
  }


  &__inner {
    justify-content: center;
    align-items: center;
  }
}

.form {
  &__field {
    &[data-index="0"] {
      margin-top: 16px;
    }

    &-text {
      font: 14px $mainFont;
    }
  }
}