@import "../../utils/vars.scss";

.content {
  background-image: url(/img/authorization.jpg);
  background-position: 49% 77%;
  background-size: 113% 114%;
  height: 683px;

  &__inner {
    justify-content: center;
    align-items: center;
  }
}

.form {
  &__field {
    &[data-index="0"] {
      margin-top: 16px;
    }

    &-text {
      font: 14px $mainFont;
    }
  }
}