mixin statistic(args)
  .statistic&attributes({class: args.class})
    .statistic__chart
      .statistic__number
        div #{args.total[0]}
        span #{args.total[1]}
    .statistic__legend
      each val, i in args.legend
        div&attributes({"data-index": i}) #{val}