mixin range({text="Range", from=0, to=100, note="", input={}} = {})
  .range
    .range__top
      .range__label #{text}
      .range__legend
        span.range__from #{from}
        | ла  - 
        span.range__to #{to}
        | ла
    input.range__input(type='text')&attributes(input)
    if note != ""
      .range__note #{note}