mixin range(args)
  .range
    .range__top
      .range__label #{args.text}
      .range__legend
        span.range__from #{args.from}
        | ла  - 
        span.range__to #{args.to}
        | ла
    input.range__input(type='text')&attributes(args.input)
    if args.note
      .range__note #{args.note}