include ../arrow/arrow.pug
include ../button/button.pug

mixin header({index=false, signin=false, signup=false} = {})
  header.header
    .header__bar.header__bar_shadow
      .header__inner.header__inner_align
        if index
          a(href="./index.html")
            +logo
        else
          +logo
        .header__menu
        nav.header__content
          a.header__link(href="/fake-link/change-me") О нас
          a.header__link.header__link_expand(href="/fake-link/change-me")
            .header__arrow
              +arrow({type: "expand"})
            .header__link-text Услуги
          a.header__link(href="/fake-link/change-me") Вакансии
          a.header__link(href="/fake-link/change-me") Новости
          a.header__link.header__link_expand(href="/fake-link/change-me")
            .header__arrow
              +arrow({type: "expand"})
            .header__link-text Соглашения
          .header__signin
            if signin
              +button({fill: false, text: "Войти", href: "./signin.html"})
            else
              +button({fill: false, text: "Войти"})
          .header__signup
            if signup
              +button({fill: true, text: "Зарегистрироваться", href: "./signup.html"})
            else
              +button({fill: true, text: "Зарегистрироваться"})