// Font
$mainFont     : "Montserrat", Helvetica, Arial, sans-serif;
$addFont      : "Quicksand", Helvetica, Arial, sans-serif;

// Colors
$darkColor    : #1F2041; // rgb(31, 32, 65)
$purpleColor  : #BC9CFF;
$greenColor   : #6FCf97;

$chartColor1  : #FFE39C;
$chartColor2  : #6FCF97;
$chartColor3  : #BC9CFF;
$chartColor4  : linear-gradient(#919191, #3D4975);

//Gradients
$purpleGrad   : linear-gradient($purpleColor, #8BA4F9);
$greenGrad    : linear-gradient($greenColor, #66D2EA);