@import "../../utils/vars.scss";

.bullet-list {
  font: 14px $mainFont;
  color: rgba($darkColor, .75);

  &__option {
    width: 100%;
    position: relative;
    padding-left: 20px;
    line-height: 24px;

    & + & {
      margin-top: 10px;
    }
  }

  &__option:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 10px;
    height: 10px;
    background: rgba($darkColor, .25);
    border-radius: 25px;
  }
}