@import "../../utils/fonts.scss";
@import "../../utils/vars.scss";

body {
  margin: 0;
  background: #fff;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}


[data-space="left"] {
  margin-left: 20px;
}

[data-space="tiny-up"] {
  margin-top: 8px;
}

[data-space="up"] {
  margin-top: 20px;
}

[data-space="long-up"] {
  margin-top: 32px;
}


[data-size="short"] {
  width: 149px;
}

[data-size="medium"] {
  width: 265px;
}

[data-size="long"] {
  width: 317px;
}


.logo {
  display: flex;
  align-items: center;

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__brand {
    position: relative;
    margin-left: 12.5px;
  }
}


.arrow {
  position: absolute;
  z-index: 2;
  width: 44px;
  height: 46px;
  cursor: pointer;

  &_expand {
    right: -2px;
    background: url(/img/icons/expand-more.svg) center no-repeat;
  }

  &_forward {
    right: 0;
    top: 0;
    background: url(/img/icons/arrow-forward.svg) center no-repeat;
  }

  &_submit {
    right: 0;
    top: 0;
    background: url(/img/icons/arrow-forward-purple.svg) center no-repeat;
  }

  &_prev,
  &_next {
    background: url(/img/icons/slider-arrow.svg) center no-repeat;
    background-size: 14px;
  }

  &_prev {
    transform: rotateZ(90deg);
  }

  &_next {
    transform: rotateZ(-90deg);
  }
}

.header__bar,
.footer__bar {
  display: flex;
  justify-content: center;
  background: #fff;
  width: 100%;

  &_shadow {
    position: relative;
    height: 70px;
    box-shadow: 0 10px 20px rgba($darkColor, .05);
    z-index: 2;
  }
}

.content__inner,
.header__inner,
.footer__inner {
  display: flex;
  max-width: 1160px;
  width: 95%;
  height: 100%;

  &_align {
    align-items: center;
    justify-content: space-between;
  }
}

.header {
  box-shadow: 0 10px 20px rgba($darkColor, .05);

  &__link {
    position: relative;
    font-size: 14px;
    color: rgba($darkColor, .5);

    & + & {
      margin-left: 20px;
    }

    &_expand {
      padding-right: 25px;
    }
  }

  &__menu {
    display: none;
    width: 44px;
    height: 44px;
    background: url(/img/icons/menu.svg) center no-repeat;
  }

  &__content {
    display: flex;
    align-items: center;
    font-family: $mainFont;
    letter-spacing: .1px;
  }

  &__arrow {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 21px;
    right: -2px;
    background: url(/img/icons/expand-more.svg) center no-repeat;
  }

  &__signin,
  &__signup {
    position: relative;
    padding: 0 19px;
    margin-left: 20px;
    border-radius: 22px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__signin {
    height: 41px;
    background: url(/img/icons/gradient-border.svg) center no-repeat;
    background-size: 95%;
    line-height: 41px;
    color: $purpleColor;
  }

  &__signup {
    height: 34px;
    background: $purpleGrad;
    line-height: 34px;
    color: #fff;
  }
}


.footer {
  min-height: 442px;
  box-shadow: 0 10px 20px rgba($darkColor, .05);

  &__nav {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 103px 0;
    box-shadow: 0px 1px 0px rgba($darkColor, .1);
    z-index: 3;
  }

  &__inner {
    justify-content: space-between;
  }

  &__slogan {
    margin-top: 14px;
    width: 260px;
    font: 14px $mainFont;
    line-height: 24px;
    color: rgba($darkColor, .75);
  }

  &__info {
    padding: 2px;
    font-family: $mainFont;
  }

  &__title {
    font: bold 12px $mainFont;
    text-transform: uppercase;
    color: $darkColor;
  }

  &__link {
    display: block;
    position: relative;
    margin-top: 20px;
    font-size: 14px;
    color: rgba($darkColor, .5);

    &_double_line {
      line-height: 24px;
    }
  }

  &__copyright {
    font: 14px $mainFont;
  }

  &__social-image {
    height: 22px;
    width: 24px;

    & + & {
      margin-left: 16px;
    }
  }
}



.content {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  transition: .2s;

  &_form {
    min-height: calc(100vh - 512px);
    position: relative;
    z-index: 1;
    background-color: #fff;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &_shifted {
    top: 325px;
  }
}

@media screen and (max-width: 979px) {
  [data-size="short"] {
    width: 42%;
  }

  [data-space="left"] {
    margin-left: 4%;
  }

  [data-size="long"],
  .form__submit-input {
    width: 88%;
  }

  .content {
    &__inner {
      justify-content: center;
    }
  }

  .content__inner,
  .header__inner,
  .footer__inner {
    &_align {
      width: 95%;
    }
  }

  .header {
    &__signin,
    &__signup {
      margin-top: 20px;
      margin-left: 0px;
    }

    &__content {
      position: absolute;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      top: 69px;
      left: 0;
      padding: 20px 0;
      width: 100%;
      border-top: 1px solid rgba($darkColor, .05);
      background: #fff;
      box-shadow: 0 10px 20px rgba(31,32,65,.05);
      visibility: hidden;
      opacity: 0;
      transition: .2s;

      &_shifted {
        visibility: visible;
        opacity: 1;
      }
    }

    &__menu {
      display: block;
    }

    &__link {
      & + & {
        margin-top: 20px;
        margin-left: 0px;
      }
    }
  }

  .footer {
    &__bar_shadow {
      height: auto;
    }

    &__link {
      margin-top: 12px;

      &_double_line {
        text-align: center;
      }

      & + & {
        margin-top: 20px;
        margin-left: 0px;
      }
    }

    &__brand,
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__info {
      margin-top: 22px;
    } 

    &__inner {
      flex-direction: column;
    }

    &__copyright {
      background: #fff;
      padding: 20px 0;
      text-align: center;
    }

    &__slogan {
      text-align: center;
    }
  }
}