@import "../../utils/fonts.scss";
@import "../../utils/vars.scss";

.page {
  margin: 0;
  background: #fff;

  &__form {
    @media screen and (max-width: 979px) {
      padding-left: 0;
    }
  }
}

.footer__bar {
  display: flex;
  justify-content: center;
  background: #fff;
  width: 100%;

  &_shadow {
    position: relative;
    height: 70px;
    box-shadow: 0 10px 20px rgba($darkColor, .05);
    z-index: 2;
  }
}

.footer__bar_shadow {
  @media screen and (max-width: 979px) {
    height: auto;
  }
}

.content__inner,
.footer__inner {
  display: flex;
  max-width: 1160px;
  width: 95%;
  height: 100%;

  &_align {
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 979px) {
      width: 95%;
    }
  }
}

.content__inner {
  @media screen and (max-width: 979px) {
    justify-content: center;
  }
}



.footer {
  min-height: 442px;
  box-shadow: 0 10px 20px rgba($darkColor, .05);

  &__nav {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 100px 0 98px;
    box-shadow: 0px 1px 0px rgba($darkColor, .1);
    z-index: 3;
  }

  &__inner {
    justify-content: space-between;

    @media screen and (max-width: 979px) {
      flex-direction: column;
    }
  }

  &__slogan {
    margin-top: 14px;
    width: 260px;
    font: 14px $mainFont;
    line-height: 24px;
    color: rgba($darkColor, .75);

    @media screen and (max-width: 979px) {
      text-align: center;
    }
  }

  &__info {
    margin-top: 6px;
    font-family: $mainFont;

    @media screen and (max-width: 979px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 22px;
    }
  }

  &__title {
    font: bold 12px $mainFont;
    text-transform: uppercase;
    color: $darkColor;
  }

  &__link {
    text-decoration: none;
    display: block;
    position: relative;
    margin-top: 21px;
    font-size: 14px;
    color: rgba($darkColor, .5);

    @media screen and (max-width: 979px) {
      margin-top: 12px;

      & + & {
        // margin-top: 20px;
        margin-left: 0px;
      }
    }

    &_double_line {
      line-height: 23px;
      margin-top: 19px;

      @media screen and (max-width: 979px) {
        text-align: center;
      }
    }
  }

  &__copyright {
    font: 14px $mainFont;

    @media screen and (max-width: 979px) {
      background: #fff;
      padding: 20px 0;
      text-align: center;
    }
  }

  &__social {
    margin-top: 7px;

    &-image {
      height: 22px;
      width: 24px;

      & + & {
        margin-left: 19px;
      }
    }
  }

  @media screen and (max-width: 979px) {
    &__brand {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}



.content {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  transition: .2s;

  &__label {
    &_indent {
      &_left {
        margin-left: 20px;

        @media screen and (max-width: 979px) {
          margin-left: 4%;
        }
      }
    }
  }

  &_form {
    min-height: calc(100vh - 512px);
    position: relative;
    z-index: 1;
    background-color: #fff;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
  }

  &_shifted {
    top: 325px;
  }
}