@import "../../utils/fonts.scss";
@import "../../utils/vars.scss";

body {
  margin: 0;
  background: #fff;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}


[data-space="left"] {
  margin-left: 20px;
}

[data-space="tiny-up"] {
  margin-top: 8px;
}

[data-space="up"] {
  margin-top: 20px;
}

[data-space="long-up"] {
  margin-top: 32px;
}


[data-size="short"] {
  width: 149px;
}

[data-size="medium"] {
  width: 265px;
}

[data-size="long"] {
  width: 317px;
}


.page {
  &__arrow {
    position: absolute;
    z-index: 2;
    width: 44px;
    height: 46px;
    cursor: pointer;

    &_expand {
      right: -2px;
      background: url(/assets/img/icons/expand_more.svg) center no-repeat;
    }

    &_forward {
      right: 0;
      top: 0;
      background: url(/assets/img/icons/arrow_forward.svg) center no-repeat;
    }

    &_submit {
      right: 0;
      top: 0;
      background: url(/assets/img/icons/arrow_forward_purple.svg) center no-repeat;
    }

    &_prev,
    &_next {
      background: url(/assets/img/icons/slider_arrow.svg) center no-repeat;
      background-size: 14px;
    }

    &_prev {
      transform: rotateZ(90deg);
    }

    &_next {
      transform: rotateZ(-90deg);
    }
  }

  &__bar {
    background: #fff;
    width: 100%;

    &_shadow {
      position: relative;
      height: 70px;
      box-shadow: 0 10px 20px rgba($darkColor, .05);
      z-index: 2;
    }
  }

  &__wrap {
    display: flex;
    justify-content: center;
  }

  &__wrap-inner {
    display: flex;
    max-width: 1160px;
    width: 95%;
    height: 100%;

    &_align {
      align-items: center;
      justify-content: space-between;
    }
  }

  &__content {
    min-height: calc(100vh - 512px);
    position: relative;
    z-index: 1;
    background-color: #fff;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__brand {
    position: relative;
    margin-left: 12.5px;
  }
}

@media screen and (max-width: 979px) {
  .page__wrap-inner_align {
    width: 95%;
  }
}