@import "../../../utils/vars.scss";

.header {
  box-shadow: 0 10px 20px rgba($darkColor, .05);

  &__link {
    position: relative;
    font-size: 14px;
    color: rgba($darkColor, .5);

    &_expand {
      padding-right: 25px;
    }
  }

  &__link + &__link {
    margin-left: 20px;
  }

  &__menu {
    display: none;
    width: 44px;
    height: 44px;
    background: url(/assets/img/icons/menu.svg) center no-repeat;
  }

  &__content {
    display: flex;
    align-items: center;
    font-family: $mainFont;
    letter-spacing: .1px;
  }

  &__arrow {
    height: 100%;
    width: 21px;
  }

  &__signin,
  &__signup {
    position: relative;
    padding: 0 19px;
    margin-left: 20px;
    border-radius: 22px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__signin {
    height: 41px;
    background: url(/assets/img/icons/gradient_border.svg) center no-repeat;
    background-size: 95%;
    line-height: 41px;
    color: $purpleColor;
  }

  &__signup {
    height: 34px;
    background: $purpleGrad;
    line-height: 34px;
    color: #fff;
  }
}

@media screen and (max-width: 979px) {
  .header {
    &_shift &__content {
      visibility: visible;
    }

    &__signin,
    &__signup {
      margin-top: 20px;
      margin-left: 0px;
    }

    &__content {
      position: absolute;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      top: 69px;
      left: 0;
      padding: 20px 0;
      width: 100%;
      border-top: 1px solid rgba($darkColor, .05);
      background: #fff;
      visibility: hidden;
    }

    &__menu {
      display: block;
    }

    &__link + &__link {
      margin-top: 20px;
      margin-left: 0px;
    }
  }
}