@import "../../utils/vars.scss";

.content {
  background-image: url(/img/authorization.jpg);
  background-position: 50% 97%;
  background-size: 113% 109%;
  height: 701px;

  &__inner {
    justify-content: center;
    align-items: center;
  }

  &__form {
    margin-top: 3px;
  }
}

.radio {
  display: flex;
}

.form {
  &__inputs {
    margin-top: 17px;
  }

  &__field {
    &_indent_custom {
      margin-top: 24px;
    }

    &-text {
      font: 14px $mainFont;
    }
  }

  &__title {
    letter-spacing: 1.2px;
  }

  &__switch {
    margin-top: 10px
  }
}