@import "../../utils/vars.scss";

.content {
  background-image: url(/img/authorization.jpg);
    height: 701px;

  &__form {
    margin-bottom: 2px;
  }

  &__inner {
    justify-content: center;
    align-items: center;
  }
}

.radio {
  display: flex;
}

.form {
  &__field {
    &[data-index="0"] {
      margin-top: 16px;
    }

    &-text {
      font: 14px $mainFont;
    }
  }

  &__title {
    letter-spacing: 1.2px;
  }

  &__inputs {
    margin-top: 19px;
  }

  &__switch {
    margin-top: 10px
  }

  &__radio {
    margin-top: 10px;
  }
}