mixin room-card({number=0, settings={}, images=0, special=false, price=0, stars=0, feedbacks=0} = {})
  a.room-card&attributes({href:'/room.html?room=' + number})
    .room-card__inner
      .room-card__gallery&attributes(settings)
        .room-card__prev
          +arrow({type: "prev"})
        .room-card__images
          each _, i in Array(images)
            img.room-card__image&attributes({src:'/img/rooms/' + number + '-' + i + '.jpg'})
        .room-card__next
          +arrow({type: "next"})
        .room-card__points
          each _, i in Array(images)
            if i == 0
              .room-card__point.room-card__point_selected
            else
              .room-card__point
      .room-card__main
        .room-card__title
          span.room-card__n &numero;
          span.room-card__number #{number}
          if special
            span.room-card__special Люкс
        .room-card__price
          span.room-card__price-value #{price}&#x20bd;
          | в сутки
      .room-card__feedback
        .room-card__stars
          each _ in Array(stars)
            .room-card__star(data-full='true')
          each _ in Array(5-stars)
            .room-card__star(data-full='false')
        .room-card__amount
          span.room-card__amount-number #{feedbacks}
          | Отзывов