@font-face {
    font-family: Montserrat;
    font-weight: normal;
    src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url(/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Quicksand;
    font-weight: normal;
    src: url(/fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: Quicksand;
    font-weight: bold;
    src: url(/fonts/Quicksand-Bold.ttf);
}

::placeholder {
    color: rgba(31, 32, 65, .25);
}

body {
    margin: 0;
}

header, footer {
    box-shadow: 0 10px 20px rgba(31, 32, 65, .05);
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

a:focus,
button:focus,
input:focus {
    outline: none;
}

.content-bar {
    background: #fff;
    width: 100%;
}

.bar {
    position: relative;
    height: 70px;
    box-shadow: 0 10px 20px rgba(31, 32, 65, .05);
    z-index: 2;
}

.wrap-container {
    display: flex;
    justify-content: center;
}

.content.wrap-container {
    min-height: calc(100vh - 442px);
}

.wrap {
    display: flex;
    max-width: 1160px;
    width: 95%;
    height: 100%;
}

.wrap-align {
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
}

.brand {
    position: relative;
    margin-left: 12.5px;
}


 
.header-content {
    display: flex;
    align-items: center;
    font-family: Montserrat, sans-serif;
    letter-spacing: .1px;
}

.header-links {
    position: relative;
    font-size: 14px;
    color: rgba(31, 32, 65, .5);
}

.header-links.services {
    width: 74px;
}

.header-links.deals {
    width: 117px;
}

.header-links.convertible .kit-arrow {
    height: 100%;
    width: 21px;
}

.header-content .header-links + .header-links {
    margin-left: 20px;
}

.header-signin-button,
.header-signup-button {
    position: relative;
    padding: 0 19px;
    margin-left: 20px;
    border-radius: 22px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.header-signin-button {
    height: 41px;
    background: url(/images/icons/gradient_border.svg) center no-repeat;
    background-size: 95%;
    line-height: 41px;
    color: #BC9CFF;
}

.header-signup-button {
    height: 34px;
    background: linear-gradient(#BC9CFF, #8BA4F9);
    line-height: 34px;
}

.header-signup-button {
    color: #fff;
}



footer {
    height: 442px;
}

.footer-nav {
    position: relative;
    padding: 103px 0;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, .1);
    z-index: 3;
}
.footer-nav-wrap {
    justify-content: space-between;
}

.footer-slogan {
    margin-top: 14px;
    width: 260px;
    font: 14px Montserrat;
    line-height: 24px;
    color: rgba(31, 32, 65, .75);
}

.footer-info {
    padding: 2px;
}

.footer-column-name {
    font: bold 12px Montserrat;
    text-transform: uppercase;
    color: #1F2041;
}

.footer-info div + div {
    font-family: Montserrat;
    margin-top: 20px;
    font-size: 14px;
    color: rgba(31, 32, 65, .5);
}

.footer-mail-line {
    line-height: 24px;
}

.footer-email {
    position: relative;
    margin-top: 20px;
}

.email-input {
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    width: 245px;
    height: 43px;
    font: 14px Montserrat;
    border-radius: 4px;
    border: 1px solid rgba(31, 32, 65, 0.25);
}

.email-submit {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    width: 44px;
    padding: 0;
    border: none;
    background: url(/images/icons/arrow_forward_purple.svg) center no-repeat;
}

.footer-copyright-text {
    font: 14px Montserrat;
}

.footer-social {
    height: 22px;
    width: 24px;
}

.footer-social + .footer-social {
    margin-left: 16px;
}