@media screen and (max-width: 979px) {
    .content .wrap {
        flex-direction: column;
    }

    .content-settings {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-items {
        margin-left: 0;
        margin-top: 60px;
    }

    .content-items-title {
        text-align: center;
    }

    .content-rooms {
        align-items: center;
        justify-content: center;
    }
}