@font-face {
	font-family: Quicksand;
	src: url(../fonts/Quicksand-Regular.ttf);
}

/* Main block */
.main {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 830px;
	min-height: calc(100vh - 442px);
	background: url(../images/landing_main.jpg) -59px -57px no-repeat;
	background-size: calc(100% + 124px) auto;
}

.main-block {
	margin-top: 70px;
	height: 306px;
}

.main-line[data-index="0"] {
	letter-spacing: 1.2px;
}

.main-line[data-index="1"] {
	letter-spacing: 1.5px;
}

.main-search {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	margin-top: 20px;
}

.search-submit-input {
	margin-top: 31px;
}

.guests-dropdown {
	width: 320px;
}

@media screen and (max-width: 1300px) {
	.main {
		background-position: top;
		background-size: auto calc(100% + 100px);
	}
}