@media screen and (max-width: 979px) {
	.room-images {
		height: 50vh;
	}

	.room-images div[data-index="0"] {
		width: 100%;
		height: 65%;
	}

	.room-images div[data-index="1"] {
		width: 100%;
		height: 35%;
		flex-direction: row;
	}

	.room-images div[data-index="2"] {
		height: 100%;
	}

	.room-images img {
		width: 100%;
		height: 100%;
	}

	.room .wrap {
		flex-direction: column-reverse;
	}

	.room-booking {
		margin: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.kit-form {
		padding-left: 0;
	}

	.room-info {
		max-width: 100%;
		justify-content: center;
	}

	.room-info-label {
		text-align: center;
	}

	.room-info > div {
		margin-top: 44px;
	}

	.room-info-total {
		margin-right: 0;
	}

	.room-total-legend {
		margin-left: 12px;
	}

	.room-info-reviews {
		margin-bottom: 0;
	}

	.room-rules {
		width: 95%;
	}

	.room-repeal {
		margin-right: 0
	}

	.content-room-main {
		width: 88%;
		padding-right: 0;
	}

	.form {
		justify-content: center;
	}

	.kit-form-field[data-index="2"],
	.kit-form-field[data-index="3"] {
		width: 88%;
	}
}