::placeholder {
    color: rgba(31, 32, 65, .25);
}

.kit-form {
    position: relative;
    width: 350px;
    padding: 40px 0 30px 30px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .12);
    box-shadow: 0 0 25px rgba(0, 0, 0, .2);
    border-radius: 4px;
}

.kit-form-title {
    position: relative;
    font: bold 24px Quicksand, sans-serif;
    letter-spacing: 1px;
}

.kit-form-field {
    position: relative;
}

.kit-form-field[data-space="left"] {
    margin-left: 19px;
}

.kit-form-field[data-space="up"] {
    margin-top: 22px;
}

.kit-form-field[data-space="long-up"] {
    margin-top: 31px;
}

.kit-form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-family: Montserrat, sans-serif;
}

.kit-form-input {
    position: relative;
    padding: 0 44px 0 15px;
    height: 42px;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, .25);
    border-radius: 4px;
    font: 14px Montserrat;
    color: rgba(31, 32, 65, .75);
    cursor: pointer;
    text-overflow: ellipsis;
}

.kit-form-input[data-size="short"] {
    width: 90px;
}

.kit-form-input[data-size="medium"] {
    width: 206px;
}

.kit-form-input[data-size="long"] {
    width: 260px;
}

.kit-form-submit {
    position: relative;
    width: 320px;
    height: 43px;
    background: linear-gradient(#BC9CFF, #8BA4F9);
    border: none;
    border-radius: 22px;
    font: bold 12px Montserrat;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2px;
    cursor: pointer;
}

.kit-arrow {
    content: "";
    position: absolute;
    z-index: 2;
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.kit-arrow.expand {
    right: 0px;
    background: url(../images/icons/expand_more.svg) center no-repeat;
}

.kit-arrow.forward {
    top: 30px;
    right: -1px;
    background: url(../images/icons/arrow_forward.svg) center no-repeat;
}