.kit-one-main {
    position: relative;
    width: 100%;
    /*min-height: calc(100vh - 442px);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.kit-form {
    position: relative;
    width: 350px;
    padding-top: 40px;
    padding-bottom: 30px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .12);
    box-shadow: 0 0 25px rgba(0, 0, 0, .2);
    border-radius: 4px;
}

.kit-form-title {
    position: relative;
    font: bold 24px Quicksand, sans-serif;
    letter-spacing: 1px;
}

.kit-form-field {
    position: relative;
}

.kit-form-field[data-space="left"] {
    margin-left: 19px;
}

.kit-form-field[data-space="up"] {
    margin-top: 22px;
}

.kit-form-field[data-space="long-up"] {
    margin-top: 32px;
}

.kit-form-label {
    display: block;
    margin-bottom: 4px;
    margin-left: 1px;
    font: bold 12px Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1px;
    color: #1F2041;
}

.kit-form-input {
    position: relative;
    padding: 0 44px 0 14px;
    height: 44px;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, .25);
    border-radius: 4px;
    font-size: 14px;
    font-family: Montserrat;
    color: rgba(31, 32, 65, .75);
    cursor: pointer;
    text-overflow: ellipsis;
}

.kit-form-input[data-size="short"] {
    width: 90px;
}

.kit-form-input[data-size="medium"] {
    width: 205px;
}

.kit-form-input[data-size="long"] {
    width: 258px;
}

.kit-form-submit {
    position: relative;
    width: 320px;
    height: 44px;
    background: linear-gradient(#BC9CFF, #8BA4F9);
    border: none;
    border-radius: 22px;
    font: bold 12px Montserrat;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2px;
    cursor: pointer;
}

.kit-arrow {
    position: absolute;
    z-index: 2;
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.kit-arrow.expand {
    right: 0px;
    background: url(../images/icons/expand_more.svg) center no-repeat;
}

.kit-arrow.forward {
    top: 1px;
    right: 0;
    background: url(../images/icons/arrow_forward.svg) center no-repeat;
}

.kit-arrow.prev,
.kit-arrow.next {
    background: url(../images/icons/slider_arrow.svg) center no-repeat;
    background-size: 14px;
}

.kit-arrow.prev {
    transform: rotateZ(90deg);
}

.kit-arrow.next {
    transform: rotateZ(-90deg);
}



.kit-checkbox.default .kit-checkbox-options {
    display: none;
}

.kit-checkbox .kit-form-label {
    cursor: pointer;
}

.kit-checkbox-options {
    margin-top: 16px;
}

.kit-checkbox-arrow {
    height: 14px;
    top: 0;
}

.kit-checkbox-option {
    display: block;
    position: relative;
    margin-bottom: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.kit-checkbox-option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.kit-input-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 1px;
    height: 18px;
    width: 18px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
}

.kit-checkbox-checkmark {
    display: none;
    position: absolute;
    width: 6px;
    height: 8px;
    background: linear-gradient(#BC9CFF, #8BA4F9);
    transform: rotateZ(45deg);
}

.kit-checkbox-checkmark:after {
    content: "";
    position: absolute;
    width: 83%;
    height: 87%;
    top: -1px;
    left: -1px;
    background: #fff;
}

.kit-checkbox-option input:checked ~ .kit-input-box .kit-checkmark {
    display: block;
}

.kit-checkbox-text {
    margin-left: 31px;
}

.kit-checkbox-title {
    font: 14px Montserrat;
    color: rgba(31, 32, 65, .75);
}

.kit-bold {
    font-weight: bold;
}

.kit-checkbox-note {
    margin-top: 5px;
    font: 12px Montserrat;
    color: rgba(31, 32, 65, 0.5);
}

.kit-radio {
    margin-top: 10px;
    font: 14px Montserrat;
    color: rgba(31, 32, 65, .75);
}

.kit-radio label {
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.kit-radio input {
    position: absolute;
    opacity: 0;
}

.kit-radio-checkmark {
    position: relative;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    border: 1px solid #BC9CFF;
    border-radius: 25px;
}

.kit-radio-checkmark div {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background: linear-gradient(#BC9CFF, #8BA4F9);
}

.kit-radio-checkmark div:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 25px;
    transition: .2s;
}

.kit-radio input:checked + .kit-radio-checkmark div:after {
    opacity: 0;
}